.calculator {
    padding: 20px;
    height: 380px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calculator-btns {
    display: grid;
    height: 380px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.calculator-btns button {
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
}

.calculator-btns .btn_op {
    color: #d400ff;
}

.calc-input {
    background-color: #FAFAFA;
    outline: none;
    border: none;
    height: 90px;
    width: 95%;
    font-weight: bold;
    font-size: 25px;
    direction: rtl;
}


