span {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.app-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  width: 500px;
  height: 500px;
  border-radius: 6px;
}

.calc-wrapper {
  width: 85%;
}

.calc-input {
  background-color: #FAFAFA;
  outline: none;
  border: none;
  height: 90px;
  width: 100%;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  direction: rtl;
}

.buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
}

.calc-button {
  border: 1px solid #d9d9d9;
  background: #FAFAFA;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  outline: none;
  cursor: pointer;
  color: black;
  font-size: 12px;
  border: none;
}

.calc-button:hover {
  color: #1890ff;
  border-color: #1890ff;
}






