span {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.calculator {
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.calc-input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  font-size: 20px;
  height: 90px;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #fff;
  }

  .calculator {
    width: 300px;
  }

  span {
    color: #212121;
    font-size: 1.8rem;
  }
}