.app-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  width: 500px;
  border-radius: 6px;
  box-shadow: 0 0 4px 4px #8E24AA;
}

.calc-wrapper {
  width: 70%;
}

hr {
width: 100%;
}

.created-name {
  font-size: small;
}

@media screen and (max-width:500px){
  body {
    background-color: #FAFAFA;
    height: 100vh;
  }
  
  span {
    color: #212121;
  }
  
  .container {
   display: flex;
   flex-direction: column;
   gap: 0;
   overflow: hidden;
  }

  .app-calc {
    box-shadow: none;
    height: 560px;
  }
};










